@import '../../vars';

.socialBar {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $color-bg;
  margin: 0;
  top: 0;
  position: sticky;
  padding: 1rem 0;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    &:last-child {
      padding-right: 0;
    }
  }

  a,
  a:active,
  a:visited {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;

    @media only screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
  }
}
