@import '../vars';

.hero {
  display: flex;
  background-color: #222222;
  height: 50vh;

  .inner {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }
}
