@tailwind base;
@tailwind components;
@tailwind utilities;
@import './icons.css';

html,
body,
#__next {
  @apply h-full font-sans antialiased text-neutral-50 bg-neutral-900 text-lg;
  background: url("/img/bg.webp");
  scroll-behavior: smooth;
}

hr {
  height: 1px;
  margin: 2rem 0;
  background: linear-gradient(left, rgba(0, 0, 0, 0), #161616, rgba(0, 0, 0, 0));
  border: 0;
}

hr:after {
  display: block;
  content: '';
  height: 30px;
  background-image: radial-gradient(farthest-side at center top, #fdfdfd 0%, rgba(255, 255, 255, 0) 100%);
}

.hardTextShadow {
  text-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}

.sectionBreak h1,
.sectionBreak h2,
.sectionBreak h3 {
  @apply mt-8;
}

.sectionBreak > p {
  @apply mt-4;
}

.sectionBreak h3 + p {
  @apply ml-8 mb-4 mt-2;
}

.resume h3 {
  @apply font-sans font-bold;
}

.parBreak p:not(:first-child) {
  @apply mt-4 lg:mt-6;
}

.parIndent p {
  @apply indent-3;
}
