@import '../../../node_modules/normalize.css/normalize.css';
@import '../../vars';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #142421;
  font-family: Roboto, sans-serif;
}

.max-width {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
}
