@import '../../../node_modules/normalize.css/normalize.css';
@import '../../vars';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #142421;
  font-family: Roboto, sans-serif;
}

a,
a:any-link {
  color: #142421;
  text-decoration: underline;
  text-decoration-color: rgb(42, 42, 42);
}

.max-width {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
}
