@font-face {
  font-family: 'OutrunFuture';
  src: url('/fonts/OutrunFuture.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Regular'), local('Lexend-Regular'), url(https://fonts.gstatic.com/s/lexend/v7/wlpwgwvFAVdoq2_v-6QU.woff2) format('woff2');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lexend Bold'), local('Lexend-Bold'), url(https://fonts.gstatic.com/s/lexend/v7/wlpzgwvFAVdoq2_v9KQU4Hn2.woff2) format('woff2');
}

@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sacramento'), local('Sacramento-Regular'), url(https://fonts.gstatic.com/s/sacramento/v13/buEzpo6gcdjy0EiZMBUG4C0f_Q.woff2) format('woff2');
}

.outrun {
  font-family: 'OutrunFuture', cursive;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  contain: paint;
  will-change: opacity;
  backface-visibility: hidden;
}

