.header {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  padding: 0 2rem;

  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      color: #f0f0f0;
    }
  }
}
