@import '../node_modules/normalize.css/normalize.css';

html,
body,
#__next,
#__next > div {
  padding: 0;
  margin: 0;
  color: #142421;
  background-color: #fdfdfd;
  font-family: Roboto, sans-serif;
  line-height: 1.5rem;
  height: 100%;
}

#__next,
#__next > div {
  margin: 0;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:any-link {
  color: #308353;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo 2', sans-serif;
  text-align: center;
}

@import './icons';
