@import '../styles/vars';

.main {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 650px;

  &.mainFull {
    margin: 1rem auto;
    max-width: 90%;
  }

  figcaption {
    font-weight: 300;
    font-style: italic;
  }

  p {
    text-indent: 2ch;
  }

  h2 {
    margin-top: 2.5rem;
  }

  details div {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: italic;
  }
}

.subTitle {
  color: rgba(#142421, 0.7);
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Baloo 2', cursive;
  text-align: center;
  margin-bottom: 0.5rem;
}

.center {
  text-align: center;
}

.mono {
  font-style: monospace;
}

.blogDate {
  font-style: monospace;
  text-align: center;
}

.nobreak {
  white-space: nowrap;
  margin-right: 0.5ch;
}

.fontColor {
  color: #142421 !important;
}

.hideMobile {
  display: none;

  @media #{$bpTabletUp} {
    display: unset;
  }
}

.hideBelowDesktop {
  display: none;

  @media #{$bpSmScreenUp} {
    display: unset;
  }
}

.four04 {
  margin: 2rem auto;
  font-size: 2.5rem;
  font-family: 'Baloo 2', cursive;
}

.imgRounder img {
  border-radius: 10px !important;
  overflow: hidden !important;
}

.spread {
  display: flex;
  justify-content: space-evenly;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0.5rem;
  }
}

.flip {
  display: inline-block;
  transform: scale(-1, 1);
}

.discordUsers {
  display: flex;
  justify-content: center;

  > div {
    font-size: 1.5rem;
    padding: 0.5rem;

    span {
      font-family: monospace;
    }
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    text-align: center;

    div {
      border-radius: 6px;
      overflow: hidden;
      display: inline-flex;
    }

    figcaption {
      text-align: center;
    }
  }
}

ul.noStyleList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5rem 0;
    margin: 0;
  }
}

.subText {
  opacity: 0.9;
  font-size: 0.8rem;
}
