$icomoon-font-family: "Brands" !default;
$icomoon-font-path: "fonts" !default;

$icon-apple: "\e900";
$icon-csharp: "\e901";
$icon-deno: "\e902";
$icon-discord: "\e903";
$icon-docker: "\e904";
$icon-github: "\e905";
$icon-gmail: "\e906";
$icon-go: "\e907";
$icon-google: "\e908";
$icon-instagram: "\e909";
$icon-java: "\e90a";
$icon-javascript: "\e90b";
$icon-ko-fi: "\e90c";
$icon-linkedin: "\e90d";
$icon-next-dot-js: "\e90e";
$icon-node-dot-js: "\e90f";
$icon-patreon: "\e910";
$icon-postgresql: "\e911";
$icon-rails: "\e912";
$icon-react: "\e913";
$icon-reddit: "\e914";
$icon-shopify: "\e915";
$icon-sitepoint: "\e91d";
$icon-spotify: "\e916";
$icon-sublimetext: "\e917";
$icon-twitch: "\e918";
$icon-twitter: "\e919";
$icon-typescript: "\e91a";
$icon-visualstudiocode: "\e91b";
$icon-ycombinator: "\e91c";

