@import '../../vars';

.about {
  max-width: 60rem;
  display: flex;
  padding: 4.2rem 0;
  margin: 0 auto;
  font-weight: 300;
  flex-direction: column;

  p {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  article,
  section {
    padding: 0.25rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    &:last-child {
      border: 0;
    }
  }

  @media only screen and (max-width: 60rem) {
    padding: 2rem;
  }
}

.articles {
  &,
  & p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0;
    margin: 0.5rem;
  }
}

.portalerLink {
  text-decoration: none;
}

.youtubeContainer {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.youtube {
  width: 560px;
  height: 315px;

  @media (max-width: 480px) {
    width: 304px;
    height: 171px;
  }
}
